project:
  type: website
  output-dir: docs

website:
  title: "Brian Deignan"
  description: "Brian Deignan is a data scientist with experience in econometrics, financial markets, time series, and NLP."
  site-url: https://bdeignan.github.io
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - href: blog.qmd
        text: Blog

format:
  html:
    theme: united
    css: styles.css
    toc: true



